@model MyBlog.Models.Post

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Posts" asp-action="Create" method="post">
    <div>
        <label>Title</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label>Content</label>
        <textarea asp-for="Content" class="ckeditor" rows="200"></textarea>
    </div>
    <div>
        <button type="submit">Create Post</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('#Description');
    });
</script>