@model IEnumerable<MyBlog.Models.Post>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (var post in Model)
{
    <p>@post.Title</p>
    <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
    <a asp-controller="Posts" asp-action="Read" asp-route-id="@post.Id">Read</a>
    <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">Remove</a>
}
